html {
    background-color: bisque;
}
h1 {
    text-align: center;
    color:brown;
}
.game {
    color:rgb(107, 168, 148);
    padding-left: 20px;
    
}
.music {
    color:rgb(20, 86, 143);
    padding-left: 20px;
    
}
.fav_images {
    color:chocolate;
    padding-left: 20px;
    
}
#img1 {
    width: 50%;
    height: 50%;
}
#img2 {
    width:50%;
    height:50%;
    
}
.row {
    display: flex;
}
.column {
    flex:50%;
    padding: 5px;
}